---
import Carousel from "@/components/Carousel";
import Layout from "@/layouts/Layout.astro";

const images = (await Astro.glob("../../assets/ken_arrow/*.jpg")).map(
    (image) => image.default as string
);
---

<Layout title="Istrail Lab | Ken Arrow">
    <h2 class="text-2xl font-bold py-4">Ken Arrow</h2>
    <Carousel images={images} client:only="react" />
</Layout>
