---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Istrail Lab | Paul Erdos">
    <h2 class="text-2xl font-bold py-4">Paul Erdos</h2>
    <iframe
        class="mx-auto"
        width="640"
        height="480"
        src="https://drive.google.com/file/d/1Y7YU0z6GU0n-dQtdtehXx6WDpZij4LNc/preview"
        allow="autoplay"
        allowfullscreen></iframe>
</Layout>
