---
import Layout from "../../layouts/Layout.astro";
import EssayCard from "@/components/EssayCard";
import YouTubeEmbed from "../../components/video/YouTubeEmbed.astro";
---

<Layout title="Istrail Lab | Solomon Marcus Lectures">
    <h1 class="font-bold text-3xl pt-4">
        Solomon Marcus Guest Lectures at Brown
    </h1>

    <div class="py-4">
        <EssayCard
            publication={{
                authors: ["Sorin Istrail"],
                title: "Professor Solomon Marcus' Axioms",
                year: 2011,
                journal:
                    "Meetings with Marcus: 85th Birthday Celebration of Professor Solomon Marcus Editurea Academiei Romane",
                pdf: "/papers/MarcusAxioms.pdf",
                tags: [],
            }}
        />
    </div>

    <div class="grid gap-4 py-4">
        <div>
            <h3 class="font-semibold text-xl py-2">
                Lecture 1: The Loneliness of the Mathematican
            </h3>
            <h4 class="font-semibold text-lg py-1">
                A John von Neumann Distinguished Lecture
            </h4>
            <YouTubeEmbed
                videoId="12C6ataTArM"
                title="Lecture 1: The Loneliness of the Mathematican"
            />
        </div>

        <div>
            <h3 class="font-semibold text-xl py-2">
                Lecture 2: To Prove or Not to Prove, That is the Question!
            </h3>
            <YouTubeEmbed
                videoId="uU49OWxnWBY"
                title="Lecture 2: To Prove or Not to Prove, That is the Question!"
            />
        </div>

        <div>
            <h3 class="font-semibold text-xl py-2">
                Lecture 3: Science Today versus Science Yesterday
            </h3>
            <YouTubeEmbed
                videoId="A2qEzRSiSSw"
                title="Lecture 3: Science Today versus Science Yesterday"
            />
        </div>

        <div>
            <h3 class="font-semibold text-xl py-2">
                Lecture 4: We Are Surrounded By Hidden Conflict
            </h3>
            <YouTubeEmbed
                videoId="NGK_Lh681aY"
                title="Lecture 4: We Are Surrounded By Hidden Conflict"
            />
        </div>

        <div>
            <h3 class="font-semibold text-xl py-2">
                Lecture 5: Information: What Does It Mean?
            </h3>
            <YouTubeEmbed
                videoId="97HoZHJDiNw"
                title="Lecture 5: Information: What Does It Mean?"
            />
        </div>

        <div>
            <h3 class="font-semibold text-xl py-2">
                Lecture 6: Mathematical Mistakes as a Source of Creativity
            </h3>
            <YouTubeEmbed
                videoId="R3tIf8TOM-w"
                title="Lecture 6: Mathematical Mistakes as a Source of Creativity"
            />
        </div>

        <div>
            <h3 class="font-semibold text-xl py-2">
                Lecture 7: The Biological Cell in Spectacle
            </h3>
            <YouTubeEmbed
                videoId="uKafHAEWfto"
                title="Lecture 7: The Biological Cell in Spectacle"
            />
        </div>

        <div>
            <h3 class="font-semibold text-xl py-2">
                Lecture 8: Two Neighbors Ignoring Each Other: Infinite Words and
                Formal Languages
            </h3>
            <YouTubeEmbed
                videoId="EatiEwQaFCI"
                title="Lecture 8: Two Neighbors Ignoring Each Other: Infinite Words and Formal Languages"
            />
        </div>

        <div>
            <h3 class="font-semibold text-xl py-2">
                Lecture 9: The Euclidean and Non-Euclidean Paradigm: A Transdisciplinary Itinerary
            </h3>
            <YouTubeEmbed
                videoId="Fz1Yx-z17DQ"
                title="Lecture 9: The Euclidean and Non-Euclidean Paradigm: A Transdisciplinary Itinerary"
            />
        </div>

        <div>
            <h3 class="font-semibold text-xl py-2">
                Lecture 10: Correctness and Meaning: Cooperation or Conflict?
            </h3>
            <YouTubeEmbed
                videoId="HUew9SF7kAQ"
                title="Lecture 10: Correctness and Meaning: Cooperation or Conflict?"
            />
        </div>

        <div>
            <h3 class="font-semibold text-xl py-2">
                Lecture 11: Mathematics: Between Semiosis and Cognition
            </h3>
            <YouTubeEmbed
                videoId="u4NPhyAOKKM"
                title="Lecture 11: Mathematics: Between Semiosis and Cognition"
            />
        </div>

        <div>
            <h3 class="font-semibold text-xl py-2">
                Lecture 12: Symmetry: A Universal Paradigm
            </h3>
            <YouTubeEmbed
                videoId="oKcGC9683dg"
                title="Lecture 12: Symmetry: A Universal Paradigm"
            />
        </div>
    </div>
</Layout>
