---
import Layout from "../../layouts/Layout.astro";
import EssayCard from "@/components/EssayCard";
---

<Layout title="Istrail Lab | Solomon Marcus Lectures">
    <h1 class="font-bold text-3xl pt-4">
        Solomon Marcus Guest Lectures at Brown
    </h1>

    <div class="py-4">
        <EssayCard
            publication={{
                authors: ["Sorin Istrail"],
                title: "Professor Solomon Marcus' Axioms",
                year: 2011,
                journal:
                    "Meetings with Marcus: 85th Birthday Celebration of Professor Solomon Marcus Editurea Academiei Romane",
                pdf: "papers/MarcusAxioms.pdf",
                tags: [],
            }}
        />
    </div>

    <div class="grid gap-4 py-4">
        <div>
            <h3 class="font-semibold text-xl py-2">
                Lecture 1: The Loneliness of the Mathematican
            </h3>
            <h4 class="font-semibold text-lg py-1">
                A John von Neumann Distinguished Lecture
            </h4>
            <iframe
                class="mx-auto"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/12C6ataTArM?si=SPwQH_pxWFcpIAjw"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>

        <div>
            <h3 class="font-semibold text-xl py-2">
                Lecture 2: To Prove or Not to Prove, That is the Question!
            </h3>
            <iframe
                class="mx-auto"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/uU49OWxnWBY?si=qyquNGQOnhe0s6_t"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>

        <div>
            <h3 class="font-semibold text-xl py-2">
                Lecture 3: Science Today versus Science Yesterday
            </h3>
            <iframe
                class="mx-auto"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/A2qEzRSiSSw?si=TCas9-rw60yASezk"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>

        <div>
            <h3 class="font-semibold text-xl py-2">
                Lecture 4: We Are Surrounded By Hidden Conflict
            </h3>
            <iframe
                class="mx-auto"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/NGK_Lh681aY?si=hE2_W3-EleE7nXgb"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>

        <div>
            <h3 class="font-semibold text-xl py-2">
                Lecture 5: Information: What Does It Mean?
            </h3>
            <iframe
                class="mx-auto"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/97HoZHJDiNw?si=Oc_q8KRQkNWTeyUd"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>

        <div>
            <h3 class="font-semibold text-xl py-2">
                Lecture 6: Mathematical Mistakes as a Source of Creativity
            </h3>
            <iframe
                class="mx-auto"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/R3tIf8TOM-w?si=9kB--SrB-fq425VZ"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>

        <div>
            <h3 class="font-semibold text-xl py-2">
                Lecture 7: The Biological Cell in Spectacle
            </h3>
            <iframe
                class="mx-auto"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/uKafHAEWfto?si=Oo9k86BuXZD7WtVV"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>

        <div>
            <h3 class="font-semibold text-xl py-2">
                Lecture 8: Two Neighbors Ignoring Each Other: Infinite Words and
                Formal Languages
            </h3>
            <iframe
                class="mx-auto"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/EatiEwQaFCI?si=56KqRjPQe48LtZeC"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </div>
</Layout>
