---
import Layout from "../../layouts/Layout.astro";
import YouTubeEmbed from "../../components/video/YouTubeEmbed.astro";
---

<Layout title="Istrail Lab | Solomon Marcus Lectures">
    <h1 class="font-bold text-3xl pt-4">Istrail Laboratory Youtube Channel</h1>

    <div class="grid gap-4 max-w-3xl mx-auto">
        <div>
            <h3 class="font-semibold text-xl py-2">
                J. Craig Venter - Genomics: From Medicine to the Environment
            </h3>
            <YouTubeEmbed
                videoId="zU6nVcvZyy4"
                title="J. Craig Venter - Genomics: From Medicine to the Environment"
            />
        </div>
        <div>
            <h3 class="font-semibold text-xl py-2">
                John Conway - The Game of Life and Set Theory
            </h3>
            <YouTubeEmbed
                videoId="cQUAwhhC8cU"
                title="John Conway - The Game of Life and Set Theory"
            />
        </div>
        <div>
            <h3 class="font-semibold text-xl py-2">
                John Conway Distinguished Lecture - The Symmetries of Things
            </h3>
            <YouTubeEmbed
                videoId="8z6T-7ovA5Q"
                title="John Conway Distinguished Lecture - The Symmetries of Things"
            />
        </div>
        <div>
            <h3 class="font-semibold text-xl py-2">
                Samuel Broder - The Human Genome: Sequence and Assembly Was the Easy Part
            </h3>
            <YouTubeEmbed
                videoId="BBClgRwDc94"
                title="Samuel Broder - The Human Genome: Sequence and Assembly Was the Easy Part"
            />
        </div>
        <div>
            <h3 class="font-semibold text-xl py-2">
                Samuel Broder Distinguished Lecture - Lessons in Treating the "Untreatable"
            </h3>
            <YouTubeEmbed
                videoId="oUpe3X-zbII"
                title="Samuel Broder Distinguished Lecture - Lessons in Treating the 'Untreatable'"
            />
        </div>
        <div>
            <h3 class="font-semibold text-xl py-2">
                Jonathan Yewdell - How to Succeed in Science
            </h3>
            <YouTubeEmbed
                videoId="ubyWe0bJ41s"
                title="Jonathan Yewdell - How to Succeed in Science"
            />
        </div>
        <div>
            <h3 class="font-semibold text-xl py-2">
                Issam Zineh - Shortening The Translational Lag
            </h3>
            <YouTubeEmbed
                videoId="yk9fadol2nw"
                title="Issam Zineh - Shortening The Translational Lag"
            />
        </div>
    </div>
</Layout>
