<footer
    class="flex justify-center items-center p-4 bg-neutral text-neutral-content mt-20 text-sm"
>
    <div class="items-center grid-flow-col">
        <p>Copyright Istrail Lab © 2023 - All right reserved</p>
    </div>
</footer>
