---
import NavDropdown from "./NavDropdown.astro";
---

<div class="w-full navbar bg-base-300">
    <div class="flex-1 px-2 mx-2">
        <a class="btn btn-ghost normal-case text-xl">Istrail Lab</a>
    </div>
    <div class="flex-none lg:hidden">
        <label for="nav-drawer" class="btn btn-square btn-ghost">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block w-6 h-6 stroke-current"
                ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"></path></svg
            >
        </label>
    </div>
    <div class="flex-none hidden lg:block">
        <ul class="menu menu-horizontal px-1">
            <li>
                <NavDropdown
                    dropdownName="Lectures"
                    dropdownItems={{
                        "John von Neumann Lectures": {
                            "Brown University Symposium 2010": "",
                            "Brown University Symposium 2015": "",
                            "Donald Knuth at Brown": "",
                        },
                        "Solomon Marcus Lectures": {
                            "Lectures 1 - 8": "",
                            "Lectures 1 - 4": "",
                        },
                    }}
                />
            </li>
            <li>
                <NavDropdown
                    dropdownName="Sorin's Essays"
                    dropdownItems={{
                        "John von Neumann's Axioms": "",
                        "Edger Dijkstra's Axioms": "",
                        "Eric Davidson's Axioms": "",
                        "Mike Waterman's Axioms": "",
                        "Solomon Marcus' Axioms": "",
                    }}
                />
            </li>
            <li>
                <NavDropdown
                    dropdownName="Research"
                    dropdownItems={{
                        "Statistical Physics": {
                            "3D Ising Model and Statistical Mechanics": "",
                        },
                        Biology: {
                            "Protein Folding": "",
                            "Gene Regulatory Networks": "",
                            "SNPs and Haplotypes": "",
                        },
                        "Computer Science": {
                            "Universal Traversal Sequence": "",
                            "Bisimulation and Semantics of Concurrent Programs":
                                "",
                            "Chomsky Grammars and Formal Languages": "",
                            "Graph Theory and Book Embeddings": "",
                        },
                        "Number Theory": {
                            "Context-Free Characterization of Algebraic Numbers":
                                "",
                        },
                        Economics: {
                            "An Arrow Impossibility Theorem for Protein Folding":
                                "",
                        },
                    }}
                />
            </li>
            <li>
                <NavDropdown
                    dropdownName="Sorin's Games"
                    dropdownItems={{
                        "Computer Science Through Urn Games": "",
                        "The 3-Einstein": "",
                        "Father-In-Law vs Pajamas": "",
                    }}
                />
                <NavDropdown
                    dropdownName="Memoriam"
                    dropdownItems={{
                        "Paul Erdos": "",
                        "Edger Dijkstra": "",
                        "Alan Cobham": "",
                        "John Conway": "",
                        "Eric Davidson": "",
                        "Julie Nguyen Brown": "",
                        "Freeman Dyson": "",
                        "Ken Arrow": "",
                    }}
                />
                <li>
                    <a>Papers</a>
                </li>
            </li>
        </ul>
    </div>
</div>
