---
import NavSidebar from "./NavSidebar";
---

<div class="w-full flex items-center bg-base-300 px-2 py-3">
    <div class="flex-1 px-2 mx-2">
        <a
            class="no-underline text-black font-bold text-xl px-2 py-2 rounded-lg hover:bg-[#1F293733]"
            href="/">Istrail Lab</a
        >
    </div>
    <NavSidebar client:only="react" />
</div>
