---
import NavDropdown from "./NavDropdown.astro";
import { dropdowns } from "./dropdowns";
---

<ul class="menu bg-base-300 h-full z-10">
    <li>
        <a>Sorin Istrail</a>
    </li>
    {dropdowns.map((dropdown) => <NavDropdown {...dropdown} />)}
    <li>
        <a>Papers</a>
    </li>
</ul>
