---
import EssayCard from "@/components/EssayCard";
import type { Publication } from "@/components/publicationList/publications";
import Layout from "@/layouts/Layout.astro";

const essays: Publication[] = [
    {
        authors: [],
        title: "Brown University: 250th Anniversary Symposium: The Next 250 Years",
        year: 2015,
        pdf: "/papers/250th Anniversary Symposium.pdf",
    },
    {
        authors: ["Sorin Istrail", "Solomon Marcus"],
        title: "Turing and von Neumann's Brains and their Computers",
        year: 2012,
        journal: "International Conference on Membrane Computing",
        pdf: "/papers/Turing and von Neumann's Brains and their Computers.pdf",
    },
    {
        authors: ["Leon N. Cooper", "Sorin Istrail"],
        title: "Mental Experience and the Turing Test: This Double Face is the Face of Mathematics",
        year: 2012,
        journal: "In Proceedings of the Turing Centenary Conference",
        pdf: "/papers/Mental Experience and the Turing Test.pdf",
    },
    {
        authors: ["Sorin Istrail"],
        title: "Ode to Computational Biology: A letter in support of awarding the National Medal of Science to Professor Michael Waterman",
        year: 2012,
        pdf: "/papers/Ode to Computational Biology.pdf",
    },
    {
        authors: ["Sorin Istrail"],
        title: "Professor Solomon Marcus' Axioms",
        year: 2011,
        journal:
            "Meetings with Marcus: 85th Birthday Celebration of Professor Solomon Marcus Editurea Academiei Romane",
        pdf: "/papers/MarcusAxioms.pdf",
    },
    {
        authors: ["Sorin Istrail"],
        title: "Storytelling about Lighthouses: When Professor Dijkstra Slapped Me in the Quest for Beautiful Code",
        journal: "Conduit",
        volume: "19.1",
        year: 2010,
        pdf: "/papers/When Professor Dijkstra Slapped Me in the Quest for Beautiful Code.pdf",
    },
    {
        authors: [
            "Sorin Istrail",
            "Pavel Pevzner",
            "Ron Shamir",
            "Fengzhu Sun",
        ],
        title: "Tribute to Michael Waterman on his 67th Birthday",
        journal: "Communications in Information and Systems",
        publisher: "International Press",
        year: 2009,
        pdf: "/papers/TributeBirthdayWaterman67.pdf",
    },
    {
        authors: ["Sorin Istrail"],
        title: "Storytelling about Lighthouses: Criticizing Professor Dijkstra Considered Harmless",
        journal: "Conduit",
        volume: "17.2",
        year: 2008,
        pdf: "/papers/Criticizing Professor Dijkstra Considered Harmless.pdf",
    },
    {
        authors: ["Sorin Istrail", "Tracie Sweeney"],
        title: "Randomness is Beautiful: in Search of von Neumann",
        journal: "Conduit",
        volume: "9",
        year: 2006,
        pdf: "/papers/Randomness is Beautiful: in Search of von Neumann.pdf",
    },
    {
        authors: ["Sorin Istrail"],
        title: 'Review of Eric Davidson\'s book "The Regulatory Genome: Gene Regulatory Networks in Development and Regulation"',
        publisher: "Academic Press",
        year: 2006,
        pdf: "/papers/Review of Davidson book.pdf",
    },
    {
        authors: ["Sorin Istrail"],
        title: "On the scientific activity of Laurent Chottin (1947 - 1979)",
        year: 1984,
        journal:
            "Bulletin of the European Association for Theoretical Computer Science",
    },
    {
        title: "Dijkstra's Letter to Istrail",
        authors: ["Edsgar W. Dijkstra"],
        year: 1983,
        pdf: "/papers/DijkstraLetter.pdf",
    },
    {
        title: "Istrail's Letter to Dijkstra",
        authors: ["Sorin Istrail"],
        year: 1983,
        pdf: "/papers/SorinLetter.pdf",
    },
    {
        authors: ["Sorin Istrail"],
        title: 'Review of Edsger W. Dijkstra\'s book "Selected Writings on Computing: A Personal Persepective"',
        publisher: "Springer-Verlag",
        year: 1982,
        pdf: "/papers/Review of Dijkstra Book.pdf",
    },
];

const games: Publication[] = [
    {
        authors: ["Sorin Istrail"],
        title: "Computer Science Through Urn Games: An Unified Framework for a Hierarchy of Solvable and Unsolvable Problems",
        year: 2012,
        journal: "Proceedings of the Turin Centenary Conference",
        pdf: "/papers/CS Through Urn Games - An Unified Approach.pdf",
    },
];
---

<Layout title="Istrail Lab | Essays">
    <h2 class="flex-1 text-3xl font-bold pt-8">Essays</h2>
    <div class="grid gap-4 py-4">
        {essays.map((essay) => <EssayCard publication={essay} />)}
    </div>

    <h2 class="flex-1 text-3xl font-bold pt-8">Games</h2>
    <div class="grid gap-4 py-4">
        {games.map((game) => <EssayCard publication={game} />)}
    </div>
</Layout>
