---
import Layout from "../layouts/Layout.astro";
import PublicationList from "../components/publicationList/PublicationList";
import { publications } from "../components/publicationList/publications";
---

<Layout title="Istrail Lab | Publications">
    <h2 class="flex-1 text-3xl font-bold pt-8">Publications</h2>
    <PublicationList publications={publications} />
</Layout>
