---
import Layout from "../layouts/Layout.astro";
import istrail from "../assets/istrail.jpg";
import "../styles/globals.css";
---

<Layout title="Istrail Lab | Sorin Istrail">
    <div class="grid grid-cols-2 p-4">
        <div class="flex flex-col items-center">
            <img src={istrail} alt="Sorin Istrail" />
            <h2 class="font-bold p-4">Sorin Istrail</h2>
        </div>
        <div
            class="flex flex-col items-center justify-center text-center gap-2"
        >
            <h2 class="font-bold" style="text-wrap: balance">
                Julie Nguyen Brown Professor of Computational and Mathematical
                Sciences
            </h2>
            <h2 class="font-bold">Professor of Computer Science</h2>
            <div class="text-xs">
                <p>Department of Computer Science</p>
                <p>Brown University</p>
                <p>115 Waterman Street Box 1910</p>
                <p>Providence, RI 02912</p>
                <p>Phone: (401)-863-6196</p>
                <p>
                    <a href="mailto:sorin_istrail@brown.edu"
                        >sorin_istrail@brown.edu</a
                    >
                </p>
            </div>
        </div>
    </div>
</Layout>
