---
import Layout from "@/layouts/Layout.astro";
import GrantCard from "@/components/GrantCard";
import QuickLinks from "@/components/QuickLinks";

const grants = [
    {
        name: "NSF Grant",
        role: "Principal Investigator",
        year: "",
        title: "Sweat-Box Sessions: Training in the Art of Asking Tough Scientific Questions",
    },
    {
        name: "NSF Grant",
        role: "Principal Investigator",
        year: "2010",
        title: "Genome-Wide Algorithms for Haplotype Reconstruction and Beyond: A Combined Haplotype Assembly and Identical-by-Descent Tracts Approach",
    },
    {
        name: "NSF Grant",
        role: "Co-Principal Investigator",
        year: "2010",
        title: "IGERT - Reverse Ecology: Computational Integration of Genomes, Organisms, and Environments",
    },
    {
        name: "Brown University First Translational Seed Grant Award",
        role: "Co-Principal Investigator",
        year: "2013",
        title: "",
    },
    {
        name: "Brown University Seed Grant Award",
        role: "Co-Principal Investigator",
        year: "2014",
        title: "Autism Genomics Research",
    },
];
---

<Layout title="Istrail Lab | Sorin Istrail">
    <QuickLinks />
    <h2 class="text-3xl font-bold pt-4">Grants</h2>
    <div class="grid gap-4 py-4">
        {grants.map((grant) => <GrantCard grant={grant} />)}
    </div>
</Layout>
