---
import Layout from "@/layouts/Layout.astro";
import GrantCard from "@/components/GrantCard";

const grants = [
    {
        name: "NSF Grant",
        role: "Principal Investigator",
        year: "",
        title: "Sweat-Box Sessions: Training in the Art of Asking Tough Scientific Questions",
    },
    {
        name: "NSF Grant",
        role: "Principal Investigator",
        year: "2010",
        title: "Genome-Wide Algorithms for Haplotype Reconstruction and Beyond: A Combined Haplotype Assembly and Identical-by-Descent Tracts Approach",
    },
    {
        name: "NSF Grant",
        role: "Co-Principal Investigator",
        year: "2010",
        title: "IGERT - Reverse Ecology: Computational Integration of Genomes, Organisms, and Environments",
    },
    {
        name: "Brown University First Translational Seed Grant Award",
        role: "Co-Principal Investigator",
        year: "2013",
        title: "",
    },
    {
        name: "Brown University Seed Grant Award",
        role: "Co-Principal Investigator",
        year: "2014",
        title: "Autism Genomics Research",
    },
];
---

<Layout title="Istrail Lab | Sorin Istrail">
    <aside class="xl:flex flex-col gap-4 py-20 fixed hidden left-[5%] w-48">
        <h3 class="text-lg font-bold">Quick Links</h3>
        <a class="underline hover:text-blue-400" href="/publications"
            >Publications</a
        >
        <a class="underline hover:text-blue-400" href="/sorin-istrail/grants"
            >Grants</a
        >
        <a class="underline hover:text-blue-400" href="/essays">Essays</a>
        <a
            class="underline hover:text-blue-400"
            href="/sorin-istrail/geneaology">Advisor Geneaology</a
        >
    </aside>
    <h2 class="text-3xl font-bold pt-4">Grants</h2>
    <div class="grid gap-4 py-4">
        {grants.map((grant) => <GrantCard grant={grant} />)}
    </div>
</Layout>
