---
import Layout from "@/layouts/Layout.astro";
import GrantCard from "@/components/GrantCard";
import QuickLinks from "@/components/QuickLinks";
import { type Award, AwardCard } from "@/components/AwardCard";

const awards: Award[] = [
    {
        title: "Honorary Citizen",
        year: 2023,
        desc: "Municipality of Iasi, Romania",
    },
    {
        title: "20 Years Test of Time Award",
        year: 2021,
        desc: "European Symposium of Algorithms",
    },
    {
        title: "Fellow",
        year: 2021,
        desc: "International Society for Computational Biology",
    },
    {
        title: "Professor Honoris Causa",
        year: 2010,
        desc: "Alexandru Ioan Cuza University, Iasi, Romania",
    },
    {
        title: "James A. and Julie N. Brown Professor of Computational and Mathematical Sciences",
        year: 2006,
        desc: "Brown University, Providence, Rhode Island",
    },
    {
        title: "Applied Biosystems Science Fellow",
        year: 2003,
        desc: "Highest distinction for scientific achievement in Applied Biosystems",
    },
    {
        title: "Manager of the Celera Subteam",
        year: 2002,
        desc: "Winner of the ACM KDD Cup",
    },
    {
        title: "Work on the Computational Complexity of the Three-Dimensional Ising Model",
        year: 2001,
        desc: "Top 100 Most Important Discoveries of the U.S. Department of Energy's first 25 years",
    },
    {
        title: "Graduation Speaker",
        year: 2000,
        desc: "Mathematics and Physics Class of 2000, University of New Mexico",
    },
    {
        title: "ACM Service Recognition",
        year: 2000,
        desc: "ACM General Chair of the RECOMB Conference",
    },
    {
        title: "Keynote Speaker",
        year: 1999,
        desc: "New Mexico Mathematics Olympiad Finalists",
    },
    {
        title: 'Scientific American "Best of 1998"',
        year: 1998,
        desc: "Supercomputing Simulation of Protein Misfolding Project",
    },
    {
        title: "Sandia National Laboratories Award for Excellence",
        year: 1995,
        desc: "The first protein folding prediction algorithm with guaranteed error bounds",
    },
];
---

<Layout title="Istrail Lab | Sorin Istrail">
    <QuickLinks />
    <h2 class="text-3xl font-bold pt-4">Honors & Awards</h2>
    <div class="grid gap-4 py-4">
        {awards.map((award) => <AwardCard award={award} />)}
    </div>
</Layout>
