---
import Layout from "../../layouts/Layout.astro";
import YouTubeEmbed from "../../components/video/YouTubeEmbed.astro";
---

<Layout title="Istrail Lab | Music">
    <h1 class="font-bold text-3xl pt-4">Music</h1>

    <div class="grid gap-4 max-w-3xl mx-auto">
        <div>
            <h3 class="font-semibold text-xl py-2">
                Sorin Istrail - Piano Performance
            </h3>
            <YouTubeEmbed
                videoId="-H0xIT4GQFo"
                title="Sorin Istrail - Piano Performance"
            />
        </div>
        <div>
            <h3 class="font-semibold text-xl py-2">
                Another Musical Performance
            </h3>
            <YouTubeEmbed
                videoId="SnByjnzKUGw"
                title="Another Musical Performance"
            />
        </div>
    </div>
</Layout>
