---
import QuickLinks from "@/components/QuickLinks";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Istrail Lab | Sorin Istrail">
    <QuickLinks />
    <h2 class="text-2xl font-bold pt-4 pb-2">
        CSCI1810: Computational Molecular Biology
    </h2>
    High-throughput experimental approaches now allow molecular biologists to make
    large-scale measurements of DNA, RNA, and protein, the three fundamental molecules
    of the cell. The resulting datasets are often too large for manual analysis and
    demand computational techniques. This course introduces algorithms for sequence
    comparison and alignment; molecular evolution and phylogenetics; DNA/RNA sequencing
    and assembly; recognition of genes and regulatory elements; and RNA and protein
    structure. The course demonstrates how to model biological problems in terms
    of computer science.

    <h2 class="text-2xl font-bold pt-4 pb-2">
        CSCI1820: Algorithmic Foundations of Computational Biology
    </h2>
    The course is devoted to computational and statistical methods as well as software
    tools for DNA, RNA, and protein sequence analysis. The focus is on understanding
    the algorithmic and mathematical foundations of the methods, the design of associated
    genomics software tools, as well as on their applications. Topics include: sequence
    alignment, genome assembly, gene prediction, regulatory genomics, and SNP's variation.

    <h2 class="text-2xl font-bold pt-4 pb-3">
        CSCI2820: Advanced Algorithms in Computational Biology and Medical
        Bioinformatics
    </h2>
    Devoted to computational problems and methods in the emerging field of Medical
    Bioinformatics where genomics, computational biology and bioinformatics impact
    medical research. We will present challenging problems and solutions in three
    areas: Disease Associations, Protein Folding and Immunogenomics.
</Layout>
